# Clean up and import into Mongodb

using Arctic https://github.com/manahl/arctic

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np

In [10]:
# annual report data download from http://yucezhe.com/
all_data = pd.read_csv('../alogs/data/financial_yucezhe.csv', encoding='GB18030')
all_data.head()

,股票代码,股票名称,报告类型,报告日期,收盘价,流通市值,总市值,每股收益,每股收益TTM,每股净资产,...,营业利润,净利润,销售费用,管理费用,财务费用,净现金流,经营活动净现金流,投资活动净现金流,筹资活动净现金流,净资产收益率TTM
0,sh600000,浦发银行,2015-03-31,2015-04-30,18.07,2.696546e+11,3.370682e+11,0.600118,2.547043,15.305527,...,1.468600e+10,1.119400e+10,0.000000e+00,0.000000e+00,0.000000e+00,-2.403400e+10,-8.138900e+10,9.637000e+09,4.789000e+10,0.188295
1,sh600004,白云机场,2015-03-31,2015-04-30,14.92,1.715800e+10,1.715800e+10,0.269088,0.998209,7.648123,...,4.293649e+08,3.094515e+08,2.136777e+07,8.468124e+07,-8.760257e+06,2.142831e+08,2.240875e+08,-9.804430e+06,0.000000e+00,0.139160
2,sh600005,武钢股份,2015-03-31,2015-04-27,6.47,6.530676e+10,6.530676e+10,NaN,NaN,NaN,...,5.791204e+08,4.591032e+08,2.021444e+08,5.678529e+08,3.480129e+08,-3.060750e+08,6.385127e+08,-5.111296e+08,-4.114935e+08,NaN
3,sh600006,东风汽车,2015-03-31,2015-04-30,7.80,1.560000e+10,1.560000e+10,0.068448,0.120742,3.111991,...,8.598700e+07,1.368952e+08,2.551288e+08,2.640159e+08,-6.627272e+06,-3.499216e+07,-4.874521e+07,-7.116330e+07,8.565315e+07,0.029925
4,sh600007,中国国贸,2015-03-31,2015-04-30,18.07,1.820160e+10,1.820160e+10,0.150837,0.550403,5.336949,...,1.990722e+08,1.519355e+08,9.541302e+06,1.729278e+07,3.251917e+07,-3.235720e+08,2.745088e+08,-5.677811e+08,-3.024725e+07,0.107027

In [3]:
from arctic import Arctic

store = Arctic('localhost')
store.initialize_library('reports')

In [4]:
lib = store['reports']

In [11]:
k = all_data.columns
all_data.columns

Index([      u'股票代码',       u'股票名称',       u'报告类型',       u'报告日期',
              u'收盘价',       u'流通市值',        u'总市值',       u'每股收益',
          u'每股收益TTM',      u'每股净资产',     u'每股营业收入',  u'每股营业收入TTM',
           u'每股营业利润',  u'每股营业利润TTM',    u'每股经营现金流', u'每股经营现金流TTM',
          u'每股投资现金流', u'每股投资现金流TTM',    u'每股筹资现金流', u'每股筹资现金流TTM',
            u'每股现金流',   u'每股现金流TTM',     u'每股资本公积',     u'每股盈余公积',
          u'每股未分配利润',        u'总资产',       u'流动资产',        u'总负债',
             u'流动负债',      u'营业总收入',       u'营业收入',      u'营业总成本',
             u'营业成本',       u'营业利润',        u'净利润',       u'销售费用',
             u'管理费用',       u'财务费用',       u'净现金流',   u'经营活动净现金流',
         u'投资活动净现金流',   u'筹资活动净现金流',  u'净资产收益率TTM'],
      dtype='object')

In [12]:
# replace the column names with English for better useage
c = ['code', 'name', 'type', 'report_date', 'close', 'cap_ost', 'cap_all', 'eps', 
                   'eps_ttm', 'net_asset', 'sales', 'sales_ttm', 'profit', 'profit_ttm',
                   'cf_bs', 'cf_bs_ttm', 'cf_invest', 'cf_invest_ttm', 'cf_lib', 'cf_lib_ttm', 
                    'cf', 'cf_ttm', 'cap_reverse', 'sur_reverse', 'profit_tbd', 'total_asset', 
                    'float_asset', 'liability', 'float_lib', 'income_bs_total', 'income_bs', 
                    'cost_total', 'cost', 'profit_bs', 'net_profit_bs', 'sales_cost', 'manage_cost', 
                    'fin_cost', 'net_cf', 'bs_net_cf', 'invest_net_cf', 'lib_net_cf', 'roa_ttm'
                   ]
all_data.columns = c

In [7]:
all_data.head()

,code,name,type,report_date,close,cap_ost,cap_all,eps,eps_ttm,net_asset,...,profit_bs,net_profit_bs,sales_cost,manage_cost,fin_cost,net_cf,bs_net_cf,invest_net_cf,lib_net_cf,roa_ttm
0,sh600000,浦发银行,2015-03-31,2015-04-30,18.07,2.696546e+11,3.370682e+11,0.600118,2.547043,15.305527,...,1.468600e+10,1.119400e+10,0.000000e+00,0.000000e+00,0.000000e+00,-2.403400e+10,-8.138900e+10,9.637000e+09,4.789000e+10,0.188295
1,sh600004,白云机场,2015-03-31,2015-04-30,14.92,1.715800e+10,1.715800e+10,0.269088,0.998209,7.648123,...,4.293649e+08,3.094515e+08,2.136777e+07,8.468124e+07,-8.760257e+06,2.142831e+08,2.240875e+08,-9.804430e+06,0.000000e+00,0.139160
2,sh600005,武钢股份,2015-03-31,2015-04-27,6.47,6.530676e+10,6.530676e+10,NaN,NaN,NaN,...,5.791204e+08,4.591032e+08,2.021444e+08,5.678529e+08,3.480129e+08,-3.060750e+08,6.385127e+08,-5.111296e+08,-4.114935e+08,NaN
3,sh600006,东风汽车,2015-03-31,2015-04-30,7.80,1.560000e+10,1.560000e+10,0.068448,0.120742,3.111991,...,8.598700e+07,1.368952e+08,2.551288e+08,2.640159e+08,-6.627272e+06,-3.499216e+07,-4.874521e+07,-7.116330e+07,8.565315e+07,0.029925
4,sh600007,中国国贸,2015-03-31,2015-04-30,18.07,1.820160e+10,1.820160e+10,0.150837,0.550403,5.336949,...,1.990722e+08,1.519355e+08,9.541302e+06,1.729278e+07,3.251917e+07,-3.235720e+08,2.745088e+08,-5.677811e+08,-3.024725e+07,0.107027

In [13]:
# check if we are all right
names = zip(k, c)
for n in names:
    print n[0], ',', n[1]

股票代码 , code
股票名称 , name
报告类型 , type
报告日期 , report_date
收盘价 , close
流通市值 , cap_ost
总市值 , cap_all
每股收益 , eps
每股收益TTM , eps_ttm
每股净资产 , net_asset
每股营业收入 , sales
每股营业收入TTM , sales_ttm
每股营业利润 , profit
每股营业利润TTM , profit_ttm
每股经营现金流 , cf_bs
每股经营现金流TTM , cf_bs_ttm
每股投资现金流 , cf_invest
每股投资现金流TTM , cf_invest_ttm
每股筹资现金流 , cf_lib
每股筹资现金流TTM , cf_lib_ttm
每股现金流 , cf
每股现金流TTM , cf_ttm
每股资本公积 , cap_reverse
每股盈余公积 , sur_reverse
每股未分配利润 , profit_tbd
总资产 , total_asset
流动资产 , float_asset
总负债 , liability
流动负债 , float_lib
营业总收入 , income_bs_total
营业收入 , income_bs
营业总成本 , cost_total
营业成本 , cost
营业利润 , profit_bs
净利润 , net_profit_bs
销售费用 , sales_cost
管理费用 , manage_cost
财务费用 , fin_cost
净现金流 , net_cf
经营活动净现金流 , bs_net_cf
投资活动净现金流 , invest_net_cf
筹资活动净现金流 , lib_net_cf
净资产收益率TTM , roa_ttm

In [14]:
# parsing date in some columns
all_data['report_date'] = pd.to_datetime(all_data['report_date'])

In [15]:
# only store some of the columns into database

need = ['type', 'report_date', 'cap_ost', 'cap_all', 'eps', 
                   'eps_ttm', 'net_asset', 'sales', 'sales_ttm', 'profit', 'profit_ttm',
                   'cf_bs', 'cf_bs_ttm', 'cf_invest', 'cf_invest_ttm', 'cf_lib', 'cf_lib_ttm', 
                    'cf', 'cf_ttm', 'cap_reverse', 'sur_reverse', 'profit_tbd', 'total_asset', 
                    'float_asset', 'liability', 'float_lib', 'income_bs_total', 'income_bs', 
                    'cost_total', 'cost', 'profit_bs', 'net_profit_bs', 'sales_cost', 'manage_cost', 
                    'fin_cost', 'net_cf', 'bs_net_cf', 'invest_net_cf', 'lib_net_cf', 'roa_ttm'
                   ]

In [ ]:
for c in all_data['code'].unique():
    reps = all_data[all_data.code == c][need]
    reps.set_index('report_date', inplace=True)
    reps = reps.sort_index()
    
    lib.write(c[2:], reps)

In [16]:
# read some data and test
sz000625_lib = lib.read('000625').data
sz000625_csv = all_data[all_data.code == 'sz000625'][need]

In [17]:
sz000625_csv.equals(sz000625_lib)

False

In [18]:
sz000625_lib.head()

,type,cap_ost,cap_all,eps,eps_ttm,net_asset,sales,sales_ttm,profit,profit_ttm,...,profit_bs,net_profit_bs,sales_cost,manage_cost,fin_cost,net_cf,bs_net_cf,invest_net_cf,lib_net_cf,roa_ttm
report_date,,,,,,,,,,,,,,,,,,,,,
1997-08-09,1997-06-30,680600000,5134758000,0.143697,0.143697,2.677499,1.637332,1.637332,1.679348,1.679348,...,1.471428e+09,1.259060e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.107337
1998-04-22,1997-12-31,983557200,5134758000,0.228385,0.228385,2.762193,3.338704,3.338704,0.263215,0.263215,...,2.306260e+08,2.001090e+08,1.201940e+08,1.041270e+08,54564000.0,NaN,NaN,NaN,NaN,0.165365
1998-08-08,1998-06-30,831225780,4339496700,0.052152,0.112644,1.946965,1.168767,2.384032,0.055447,-0.956077,...,6.801512e+07,6.397317e+07,8.043904e+07,4.282274e+07,19374925.9,NaN,NaN,NaN,NaN,0.058373
1999-04-26,1998-12-31,760697530,3971296980,0.013510,0.013510,1.908323,2.013919,2.013919,0.017367,0.017367,...,2.130400e+07,1.657200e+07,1.920200e+08,1.574820e+08,13326000.0,-290841000,-106157000,-272046000,87362000,0.006961
1999-08-05,1999-06-30,842980490,4400863320,0.017690,-0.020952,1.926013,2.161591,3.006743,0.046149,0.008070,...,5.661000e+07,2.170000e+07,1.721500e+08,9.442000e+07,-7500000.0,NaN,NaN,NaN,NaN,0.003444

In [19]:
sz000625_csv = sz000625_csv.set_index('report_date')
sz000625_csv.sort_index(inplace=True)

In [20]:
sz000625_csv.equals(sz000625_lib)

True